body {
margin: 0;
padding: 0;
position: relative;
font-size: 13px; 
line-height: 1.2;
background-color: #e8e8e8;
background-image: url(/public/libs/img/bg2.png);
/*background-size: cover;*/
height: 100vh;
}
body, input, textarea
{
font-family: 'Source Sans', sans-serif;
font-weight: 400;
color: #565656; 
} 
a
{
color: #2b82ad;
} 
strong, b
{
font-weight: 700;
color: #1b252a;
} 
h2,h3,h4,h5,h6
{
font-family: 'Open Sans Condensed', sans-serif;
font-weight: 700;
color: #1b252a;
} 
h2 a, h4 a, h5 a, h6 a
{
text-decoration: none;
color: inherit;
}

.cur_p{
cursor: pointer;
}
.wp_100{
width: 100%;
}
.w_50{
width: 50px;
}
.w_100{
width: 100px;
}
.w_150{
width: 150px;
}
.w_200{
width: 200px ;
}
.w_1200{
max-width: 1200px ;
}
.mw_400{
max-width: 400px;
}

.op_02{
opacity: 0.25;
}
.disp_n{
display: none;
}
.tab{
display: table;
}
.px_3{
height: 3px
}
.px_5{
height: 5px
}
.px_10{
height: 10px
}
.px_30{
height: 30px
}
.pad_10{
padding: 10px 0;
}
.pad_10_10{
padding: 10px;
}
.pad_15_15{
padding: 15px;
}
.pad_0_20{
padding: 0 20px;
}
.pad_20{
padding: 20px;
}


.row{
display: table-row;
}

.td_top{
display: table-cell;
vertical-align: top;
}

.td_bot{
display: table-cell;
vertical-align: bottom;
}

.td_mid{
display: table-cell;
vertical-align: middle;
}

.a_c{
text-align: center;
}
.a_l{
text-align: left;
}
.a_r{
text-align: right;
}
.div_c{
margin: 0 auto;
}

.big{
font-size: 1.2em;
}


/* socios begin */



#logins {
  float: right;
  margin-top: -10px;
  padding: .5em;
  background-color: #ffffaa;
  cursor: pointer;
  border: 1px solid #eeeeaa;
  border-radius: 0 0 5px 5px;
}

#logins a {text-decoration: none; }
#logins .prompt span {padding: .5em; }
#logins span {font-weight: bold; }
#not_logged_in, #logins .vk, #logins .fb {margin: .5em; }

.loggedinvk.loggedinfb #not_logged_in {display: none; }
.loggedinvk .inputs_not_logged, .loggedinfb .inputs_not_logged {display: none; }

.loggingin {display: none; padding-right: .5em; }
.loggingin.loggingfb, .loggingin.loggingvk {display: inline; }

.add .inputs {display: none; }
.loggedinvk .add .inputs, .loggedinfb .add .inputs {display: block; }







/* socios end */


 






/* pub */


.logo {
display: block;
background: url("/public/img/logo.png") no-repeat left bottom;
height: 50px;
margin: .3em 0;
width: 189px;
}

.panel{
margin: 0 auto 10px;
/*border: 1px solid rgba(221, 221, 221, 1);*/
box-shadow: 0 0 0.35em 0em rgba(0,0,0,0.15);
border-radius: 0.4em;
padding:  20px 15px;
background-color: rgba(255, 255, 255,  0.95);
max-width: 425px;
min-width: 300px;
}
.panel-heading{
text-align: center;
font-family: 'Open Sans';
font-weight: 400;
color: #2b82ad;    
font-size: 2.35em; 
}
.form-group {
margin: 1.5em 26px 1.5em 0;
}

.form-group-label {
color: #2b82ad;
font-size: 1.1em;
}

.control-label{
color: #999;
display: block;
padding: 5px 0;
font-weight: 400;
font-size: 14px;
}
.control-label a{ 
font-weight: 600;
font-size: 14px;
line-height: 20px;
}

.form-control, .single-line { 
background: #eee;
border: 1px solid #e0e1e2;
border-radius: 1px;
color: inherit;
display: block;
padding: 8px 12px;
transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
width: 100%;
font-size: 14px;  
border-radius: 3px;
}
.form-control:focus,
.single-line:focus {
border-color: #39ADB4;
outline: none;
}
.has-success .form-control {
border-color: #39ADB4;
}
.has-warning .form-control {
border-color: #f8ac59;
}
.has-error .form-control {
border-color: #ed5565;
}
.has-success .control-label {
color: #39ADB4;
}
.has-warning .control-label {
color: #f8ac59;
}
.has-error .control-label, .error {
color: #ed5565;
}
.has-error strong {
font-weight: 400;
color: #ed5565;
}
.form-required {
color: #c00;
font-weight: 700;
}
.btn {
display: inline-block;
padding: 8px 0;
margin-bottom: 0;
font-size: 14px;
font-weight: 400;
line-height: 1.42857143;
text-align: center;
white-space: nowrap;
vertical-align: middle;
-ms-touch-action: manipulation;
touch-action: manipulation;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
background-image: none;
border: 1px solid transparent;
border-radius: 4px;
}
.btn-primary {
background-color: #c94663;
background-image: url(images/bg1.png);
border-color: #c94663;
color: #fff; 
border-radius: 3px;
width: 100%;
transition: border-color 0.1s ease-in-out 0.05s, background-color 0.1s ease-in-out 0.05s;
}
.btn-primary:hover {
background-color: #d95673;
border-color: #d95673;
}

.btn-sec {
background-color: #f8ac59; 
border-color:     #f8ac59;
color: #fff;
text-shadow: 1px 1px 1px #c2741f;
border-radius: 3px;
width: 100%;
}
.g-recaptcha > div{
margin: 0 auto;
}

.btn-link{ 
text-shadow: 1px 1px 0 #fff;
text-decoration: none;
}
.checkbox_span {
background: url('/public/libs/img/ch.png') center no-repeat;
display: inline-block;
width: 16px;
height: 15px;
margin: -1px 4px 0 0;
vertical-align: middle;
border: 1px solid #2b82ad;
cursor: pointer;
}



/* pub */


.flex{ 
-moz-box-shadow: 0 0 5px rgba(0,0,0,.15);
-webkit-box-shadow: 0 0 5px rgba(0,0,0,.15);
background: #fff;
position: relative;
border-bottom: 1px solid #c8c8c8;
box-shadow: 0 0 5px rgba(0,0,0,.15); 


font-weight: 100;
font-size:   15px;
line-height: 1.35;


/*border-top: 4px solid #c94663;
background-color: #364050;
background-image: url(images/bg1.png);
color: #fff;
box-shadow: 0 0 0.25em 0em rgba(0,0,0,0.55);*/

}
.flex a{  
-webkit-box-sizing: border-box;
text-decoration: none;
transition: all 0.1s linear;
border-top: 3px solid #fff;
box-sizing: border-box;
color:      #777;
display:     inline-block;
font-family:     proxima-nova,"Helvetica Neue",Helvetica,Arial,sans-serif;
font-size:       1em;
font-weight:     700;
line-height:     1;
margin:          0;
padding:         1.3em 1em 1.5em;
text-decoration: none;
width:           100%; 
} 

.flex a:hover{
color: #2b82ad;
text-decoration: none;
border-color: #2b82ad;
}

.flex  ul {
list-style: none;
margin: 0;
}
.flex li {
-moz-box-sizing: content-box;
-webkit-box-sizing: content-box;
box-sizing: content-box;
display: inline-block;
padding-right: 0;
padding-left: 0;
width: auto;
}

.flex .btn {
background-color: #f2f2f2;
background-image: -moz-linear-gradient(top,#fff 0,#f2f2f2 100%);
background-image: -webkit-gradient(left top,left bottom,color-stop(0,#fff),color-stop(100%,#f2f2f2));
background-image: -webkit-linear-gradient(top,#fff 0,#f2f2f2 100%);
background-image: -o-linear-gradient(top,#fff 0,#f2f2f2 100%);
background-image: -ms-linear-gradient(top,#fff 0,#f2f2f2 100%);
background-image: linear-gradient(to bottom,#fff 0,#f2f2f2 100%); 
border: 1px solid #d8d8d8;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
color: #222; 
padding: 10px 20px;
margin-left: 30px;
width: 100px;
}


.line {
height: 1px;
background: #ddd;
width: 100%;
margin: 15px 0 20px;
text-align: center;
}
.line .or {
display: inline-block;
background: #fff; 
margin-top: -1.3em; 
font-size:   15px;
padding: 0 10px;
vertical-align: middle;
color: #999;
}




.social_buttons a {
width: 33px;
height: 33px;
display: inline-block;
padding: 2px 7px 0;
}




.social_buttons a .st0{fill:#b8c1c7}
.social_buttons a .st1{fill:#fff}

.social_buttons .tmid:hover .st0{fill:#B12B51}
.social_buttons .yandex:hover .st0{fill:#fd0d1b}
.social_buttons .facebook:hover .st0{fill:#3c5b97}
.social_buttons .vkontakte:hover .st0{fill:#4e77a2}
.social_buttons .google_oauth2:hover .st0{fill:#dd564d} 
.social_buttons .twitter:hover .st0{fill:#62aadc} 
.social_buttons .instagram:hover .st0{fill:#bc2a8d} 
.social_buttons .ok:hover .st0{fill:#f2720c}  



@media screen and (max-width: 767px) {

.mw_400{
max-width: 295px;
}

.btn-link {
text-shadow: none;  
}
.pad_0_20 {
padding: 0;
}
input{ 
background: #ebebeb;
}

.panel{ 
padding: 15px 10px;
background-color: rgba(255, 255, 255,  0.95);
max-width: 405px;
min-width: 290px;
} 


}